.navBar {
    height:40px;
    width:100%;
    background-color:#faaf08;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .navBar ul {
    padding-top:10px;
  }
  
  .navBar li {
    display:inline;
    padding-top:10px;
  }
  
  .navBar a {
    color: #fa4032;
    font-family:'Roboto', sans-serif;
    /*This gets rid of the underlining in the navigation bar */
    text-decoration: none;
    padding:10px;
  }

  @import "compass/css3";
 
  .wrapimg {
    background: #000;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    display:none;
  }

  .wrapper {
    width: 620px;
    height: auto;
    margin: auto;
  }
  
  .button-wrapper {
    width: 209px;
    height: 34px;
    float: right;
    margin-top: 10px;
    display: none;
  }

  .switch {
    margin: 10px;
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .google-data {
    width: 620px;
    padding: 10px;
    position: relative;
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    text-shadow: 0 2px 1px white;
    }